<div>
    <div class="header">
        <h1 class="title">FastWear</h1>
        <menu class="menu">
            <ul>
                <li class="indice">
                    <a routerLink="/clientes">Cliente</a>
                    <a routerLink="/tiendas">Tiendas</a>
                    <a routerLink="/marcas">Marca</a>
                    <a routerLink="/tallas">Talla</a>
                    <a routerLink="/prendas">Prendas</a>
                    <a routerLink="/carrito_compras">Carrito compras</a>
                    <a routerLink="/comprobante_pago">Comprobantes</a>
                </li>
            </ul>
        </menu>
    </div>
    <router-outlet></router-outlet>
</div>

<app-prenda></app-prenda>