<div class="container">
  <div style=" text-align: center;">
    <h1>Lista de comprobantes</h1>
  </div>

  <app-comprobante-buscar></app-comprobante-buscar>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.idComprobante_Pago}} </td>
    </ng-container>


    <ng-container matColumnDef="tipocomprobante">
      <th mat-header-cell *matHeaderCellDef> Tipo de comprobante </th>
      <td mat-cell *matCellDef="let element"> {{element.tipoComprobante}} </td>
    </ng-container>


    <ng-container matColumnDef="montototal">
      <th mat-header-cell *matHeaderCellDef> Monto Total </th>
      <td mat-cell *matCellDef="let element"> {{element.montototal}} </td>
    </ng-container>

    <ng-container matColumnDef="razonsocial">
      <th mat-header-cell *matHeaderCellDef> Razon Social </th>
      <td mat-cell *matCellDef="let element"> {{element.razonsocial}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>

    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.cliente.nombreCliente}} </td>
    </ng-container>

    <ng-container matColumnDef="carritocompras">
      <th mat-header-cell *matHeaderCellDef> Carrito de Compras </th>
      <td mat-cell *matCellDef="let element"> {{element.carritocompras.idCarrito_Compras}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
          [routerLink]="['edicion', element?.idComprobante_Pago]">Actualizar</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="accion2">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="confirmar(element.idComprobante_Pago)">Eliminar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="example-button-container">
    <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
      routerLink="/comprobante_pago/nuevo">
      <mat-icon>plus_one</mat-icon>
    </button>
    <button mat-raised-button color="warn" routerLink="/comprobante_pago/comprobanteFecha">Fechas</button>
    <button mat-raised-button color="warn" routerLink="/comprobante_pago/comprobanteMonto">Monto total</button>
  </div>
</div>